label.dayContainer {
    background: #FFF;
    margin: 6px;
    width: 100px;
    height: 100px;
    text-align: center;
    border: 3px solid #DA7422;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block; /* Adjusted for layout */
    transition: 0.25s;
}

.dayInput {
    display: none;
}

label.dayContainer:hover {
    background: rgba(218, 116, 34, 0.1);
    transition: 0.25s;
}

label.dayContainer span {
    color: #DA7422;
    display: inline-block; /* Make sure margin-top is respected */
    margin: 6px 0px 0px -3px;
}

.dayInput:checked + label.dayContainer {
    background-color: #DA7422;
}

.dayInput:checked + label.dayContainer span {
    color: #FFF;
}

.custom-select, #starttime, #endtime {
    border: 3px solid #DA7422; /* Sets the border color */
    background-color: rgba(218, 116, 34, 0.1); /* Sets the background color */
    color: #DA7422; /* Sets the text color */
    padding: 5px; /* Adjust padding as needed */
    -webkit-appearance: none; /* Removes default styling for select in WebKit browsers */
    -moz-appearance: none; /* Removes default styling for select in Mozilla browsers */
    appearance: none; /* Standard way to remove default styling */
}

/* To ensure the disabled select box has the same styling */
#endtime:disabled {
    border: 3px solid #A4A4A4; /* Sets the border color */
    background-color: #FFF; /* Keeps the background color white */
    color: #A4A4A4; /* Ensures the text color remains */
    opacity: 1; /* Adjust if you want to change the opacity for disabled state */
}

.dayBox {
    background-color: #DA7422;
    width: 400px;
    height: 90px;
    text-align: center;
    border-radius: 56px;
}
span.dayBoxText {
    color: #FFF;
}
.timeBox {
    border: 3px solid #DA7422;
    border-radius: 8px;
    background-color: rgba(218, 116, 34, 0.1);
    color: #DA7422;
    height: 60px;
    width: 20%;
}
